<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Alert Box</title>
    <link rel="stylesheet" href="~/Content/CSS/styles.css">
</head>
<body>

    <div id="toaster" class="hidden">
        <div id="toast-message"></div>
    </div>

    <script src="~/Scripts/custom/Alert.js"></script>
</body>
</html>

